//screen sizes
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

//common colors
$footer-color: white;
$predot-color: white;
$brand-color: black;
$link-color: white;
$link-underline-color: black;
$primary: #2196F3;

//skills color
$html: #e34c26;
$css: #563d7c;
$js: #f1e05a;
$node: #3C873A;
$npm: #CC3534;
$react: #61DBFB;
$yarn: #368FB9;
$webpack: #1C78C0;