*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
}

.section-inner {
  display: grid;
  max-width: 1200px;
  justify-content: space-between;
  margin: 0 auto;
  grid-auto-flow: column;
}

.section-outer:not(:last-child) {
  margin-bottom: 200px;
}

.section-header {
  font-size: 21px;
  position: sticky;
  top: 0;
  background: linear-gradient(to right, #00CBCC, #35D9BF, #65E5AB, #95EE95, #C6F580, #F9F871);
}
.section-header .section-inner {
  height: 50px;
  align-items: center;
}
.section-header-logo {
  color: black;
}
.section-header-logo__predot {
  display: inline;
  font-weight: 400;
  color: black;
  font-size: 1.2em;
}
.section-header-logo a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}
.section-header-content a {
  text-decoration: none;
  margin-left: 75px;
  opacity: 0.5;
  color: rgba(0, 0, 0, 0.6);
  transition: all 0.3s;
}
.section-header-content a.active {
  text-decoration: underline blue;
  text-decoration-thickness: 3px;
}
.section-header-content a:hover, .section-header-content a.active {
  opacity: 1;
  color: black;
}

.section-about button {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  background-color: white;
  border: #00CBCC solid 2px;
  cursor: pointer;
}
.section-about button img {
  width: 15%;
}
.section-about button:hover {
  color: white;
  background-color: #00CBCC;
  transition: all 0.3s ease-in-out;
}
.section-about h1 {
  font-size: 42px;
}
.section-about-text__title {
  margin: 20px 0;
}
.section-about-img img {
  width: 100%;
}

.section-skills .section-inner {
  grid-auto-flow: row;
  justify-content: stretch;
}
.section-skills h1 {
  justify-self: center;
  margin-bottom: 60px;
}
.section-skills-container {
  display: flex;
  justify-content: space-between;
}
.section-skills-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}
.section-skills-item img {
  width: 100%;
}
.section-skills-item p {
  align-self: center;
}
.section-skills-item:not(:last-child) {
  margin-right: 30px;
}

.section-projects .section-inner {
  grid-auto-flow: row;
  align-items: center;
}
.section-projects .section-inner h1 {
  justify-self: center;
  margin-bottom: 60px;
}
.section-projects-container {
  display: grid;
  gap: 100px;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, 1fr);
}
.section-projects-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #00CBCC solid 2px;
}
.section-projects-item__title {
  font-size: 32px;
  cursor: pointer;
}
.section-projects-item__image {
  cursor: pointer;
}
.section-projects-item__image img {
  height: 400px;
  width: 100%;
}
.section-projects-item__text {
  border-top: #00CBCC dashed 2px;
  text-align: center;
}

.section-footer {
  background-color: #65E5AB;
  font-size: 16px;
}
.section-footer .section-inner {
  height: 50px;
  justify-content: center;
  align-items: center;
}
.section-footer img {
  width: 36px;
}