.about {
    .container{
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 80px;

        @media (min-width: $md) {
            flex-direction: row;
        }
    }
    
    &__text {
        @media (max-width: $md) {
            width: 90%;
        }
    }

    &__image img{
        @media (max-width: $md) {
            width: 100%;
        }
    }
}
